@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #3971ff;
    --primary-foreground: #f6f9ff;
    --secondary: #e3ebf3;
    --secondary-foreground: #1c1f29;
    --muted: #e3ebf3;
    --muted-foreground: #768094;
    --accent: #e3ebf3;
    --accent-foreground: #1c1f29;
    --destructive: #e63946;
    --destructive-foreground: #f6f9ff;
    --border: #d2dae2;
    --input: #d2dae2;
    --ring: #3971ff;
    --radius: 0.5rem;
    --chart-1: #208060;
    --chart-2: #e65c26;
    --chart-3: #255066;
    --chart-4: #e6bf2b;
    --chart-5: #f7aa29;
  }

  .dark {
    --background: #0e0e0e;
    --foreground: #f6f9ff;
    --card: #0a0a0a;
    --card-foreground: #f6f9ff;
    --popover: #0a0a0a;
    --popover-foreground: #f6f9ff;
    --primary: #4386ff;
    --primary-foreground: #1c1f29;
    --secondary: #2b3642;
    --secondary-foreground: #f6f9ff;
    --muted: #2b3642;
    --muted-foreground: #a3b1c6;
    --accent: #2b3642;
    --accent-foreground: #f6f9ff;
    --destructive: #4d1f1f;
    --destructive-foreground: #f6f9ff;
    --border: #2b3642;
    --input: #2b3642;
    --ring: #3264d6;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(243, 243, 243);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
}
